@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
  html {
    box-sizing: border-box;
    font-family: 'Nunito';
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    outline: none;
  }
  ul,
  li,
  h1,
  h2,
  h3,
  p,
  button {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  button {
    background: transparent;
    border: 0;
    outline: 0;
    color: #0A0A0A;
  }

  a{
    text-decoration: none;
    color: #33A1FF;
  }
  a:hover{
    color: #1781E0;
  }
  body {
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
  }

  .container{
    width: 100vw;
  }

  .page-sizer{
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  
  @media screen and (min-width: 768px){
    .page-sizer{
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  .promo{
    background: #fa6938;
    color: #fff;
  }
  
  .promo:hover{
    background: #2880cc;
  }

  .promo-anchor{
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    padding: 5px 0;
  }
  
  .promo-anchor h2{
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 4px;
    font-weight: 400;
  }

  .promo-item{
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
  }


  @media screen and (max-width: 768px){
    .promo-item:nth-child(2){
      display: none;
    }
    .promo-item:nth-child(3){
      display: none;
    }
  }

  header{
    position: relative;
    width: 100%;
    display: grid;
    z-index: 10;
  }

  header:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('../src/assets/images/perforated-bottom.png');
    background-repeat:repeat-x;
    width: 100%;
    height: 5px;
  }

  .header-content{
    display: flex;
    flex-wrap: wrap;
  }

  .logo-actions-container{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(0,0,0,.3);
  }

  .logo{
    width: 60%;
    grid-area: logo;
  }
  
  .logo img{
    width: 80%;
    /* margin-left: -10px; */
  }
  .actions{
    width: 40%;
    display: flex;
  }

  .actions li {
    display: block;
    flex: 1;
    border-left: 1px solid rgba(0,0,0, .2);
  }

  .actions li a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
  }

  .navigation{
    width: 100%;
  }

  .navigation ul{
    display: flex;
    align-items: center;
    height: 60px;
  }

  .navigation ul li{
    display: block;
    margin-right: 7px;
  }

  .navigation a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    position: relative;
  }

  .navigation a:after {
    content: '';
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0,0,0, .4);
    transform: rotate(180deg);
    bottom: -3px;
    left: calc((100% - 4px) / 2);
  }

  .hero{
    width: 100%;
    height: 250px;
    background: #F4F4F4;
    margin-top: -4px;
    display: flex;
    justify-content: center;
  }

  .ties-container{
    display: flex;
    max-width: 1000px;
    overflow-x: scroll;
  }

  .ties-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .ties-container {
    -ms-overflow-style: none;
  }

  .tie{
    /* width: 100px; */
    margin-right: 12px;
  }
  .tie a{
    position: relative;
    display: block;
    width: 70px;
    color: #000;
  }

  .tie a:hover{
    color: #1781E0;
  }

  .tie img{
    width: 100%;
  }
  
  .tie p{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    font-size: 18px;
  }

  @media screen and (min-width: 768px){
    .hero{
      height: 400px;
    }

    .tie{
      /* width: 100px; */
      margin-right: 23px;
    }

    .tie a:hover img{
      transform: translateY(-7px);
    }
  }


  /* category panel */

.category-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}




.category-item{
  display: block;
  width: 100%;
  position: relative;
  color: #000;
  margin: 15px 0;
  /* margin: 10px; */
}

@media screen and (min-width: 768px){
  .category-container{
    justify-content: space-between;
  }

  .category-item{
    max-width: 300px;
  }
}
.category-item img{
  width: 100%;
}

.category-item h2{
  position: absolute;
  font-size: 20px;
  top: 2%;
  right: 3%;
}


.history{
  display: flex;
  flex-wrap: wrap;
  margin:  20px 0;
}

.history h2{
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
  
}

.history a{
  width: 100%;
  text-align: center;
  color: #33A1FF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
}
@media screen and (min-width: 768px){
  .history h2{
    padding: 0 100px;
    font-size: 40px;
  }

  .history{
    margin:  100px 0;
  }

  .history{
    font-size: 18px;
  }
}

.history a:hover{
  color: #1781E0;
}

.footer-main{
  /* background: red; */
  position: relative;
}

.footer-main:before{
  position: absolute;
  top: -9px;
  content: '';
  background-image: url('../src/assets/images/hatch-light@2x.png');
  background-repeat:repeat-x;
  background-size: contain;
  width: 100%;
  height: 9px;
}

.footer-main:after{
  position: absolute;
  bottom: -9px;
  content: '';
  background-image: url('../src/assets/images/perforated-bottom.png');
  background-repeat:repeat-x;
  width: 100%;
  height: 5px;
}

.footer-main-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.footer-main-item{
  width: 100%;
  margin: 20px 0;
}

.footer-main-item h3{
  font-size: 18px;
}



@media screen and (min-width: 768px){
  .footer-main-content{
    justify-content: space-between;
  }
  .footer-main-item{
    max-width: 230px;
  }
}

.facebook{
  display: inline-block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background: url('../src/assets/images/sprites.png') -318px 2px no-repeat;
  background-size: 400px 200px;
  /* border: 1px solid red; */
}
.pinterest{
  display: inline-block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background: url('../src/assets/images/sprites.png') -318px -39px no-repeat;
  background-size: 400px 200px;
  /* border: 1px solid red; */
}
.twitter{
  display: inline-block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background: url('../src/assets/images/sprites.png') -318px -79px no-repeat;
  background-size: 400px 200px;
  /* border: 1px solid red; */
}



.email-form{
  width: 100%;
  margin: 15px 0;
}

.email-form input{
  width: 80%;
  margin-bottom: 8px;
  border: 1px solid #D8D8D8;
  background: #FFF;
  border-radius: 2px;
  box-shadow: #F4F4F4 0 0 0 4px;
  padding: 7px 8px;
  font-size: 14px;
}


.button{
  font-size: 14px;
  padding: 5px 10px;
  background: #33A1FF;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover{
  background: #1781E0;
}

.style-guide{
  display: flex;
  flex-wrap: wrap;
}

.style-guide h3{
  width: 100%;
  border-radius: 5px;
}

.style-guide img{
  width: 50%;
  height: 120px;
  border-radius: 5px;
}

.style-guide p{
  width: 50%;
  padding: 0 8px;
}

@media screen and (min-width:768px){
  .style-guide img{
    width: 100%;
    height: 180px;
  }
  
  .style-guide p{
    width: 100%;
    padding: 0 8px;
  }  
}

.footer-sub{
  margin-top: 5px;
  background: #F4F4F4;
  padding: 30px 0;
}

.footer-sub-content{
  display: flex;
  flex-wrap: wrap;
}


.footer-list-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 5px 0;
}

.footer-list-item li{
  display: block;
  margin: 0 5px;
  height: 19px;
}

.footer-list-item li a{
  color: #909090;
  display: block;
}

.footer-list-item li p{
  font-weight: bold;
}

.footer-list-item li a:hover{
  color: #1781E0;
}

.footer-list-item li:first-child{
  width: 100%;
}

@media screen and (min-width: 768px){
  .footer-list-item{
    max-width: 150px;
    display: block;
  }
}

.contact-card{
  padding: 10px;
  width: 300px;
  /* height: 130px; */
  background: #A2AEBF;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  /* align-items: space-between; */
}

.contact-card *{
  color: #fff;
  width: 100%;
  font-weight: 200;
  margin: 4px 0;
}

.contact-card h2{
  font-size: 25px;
  font-style: italic;
}

.contact-card .button-mobile{
  width: 50%;
  font-size: 18px;
}

.contact-card .button-desktop{
  width: 50%;
  font-size: 18px;
  display: none;
}

@media screen and (min-width: 768px){
  .contact-card{
    margin: 0;
    margin-left: auto;
  }

  .contact-card .button-mobile{
    display: none;
  }

  .contact-card .button-desktop{
    display: block;
  }

  .contact-card p{
    width: 50%;
    margin: 0;
  }
}

.copyright{
  margin-top: 30px;
  color: #909090;
  font-size: 12px;
}