@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
  html {
    box-sizing: border-box;
    font-family: 'Nunito';
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    outline: none;
  }
  ul,
  li,
  h1,
  h2,
  h3,
  p,
  button {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  button {
    background: transparent;
    border: 0;
    outline: 0;
    color: #0A0A0A;
  }

  a{
    text-decoration: none;
    color: #33A1FF;
  }
  a:hover{
    color: #1781E0;
  }
  body {
    margin: 0;
    font-size: 14px;
    overflow-x: hidden;
  }

  .container{
    width: 100vw;
  }

  .page-sizer{
    width: 100%;
    margin: 0;
    padding: 0 10px;
  }
  
  @media screen and (min-width: 768px){
    .page-sizer{
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
    }
  }

  .promo{
    background: #fa6938;
    color: #fff;
  }
  
  .promo:hover{
    background: #2880cc;
  }

  .promo-anchor{
    display: flex;
    text-decoration: none;
    color: #000;
    align-items: center;
    padding: 5px 0;
  }
  
  .promo-anchor h2{
    color: #fff;
    font-size: 12px;
    background: rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 4px;
    font-weight: 400;
  }

  .promo-item{
    color: #fff;
    margin-left: 20px;
    font-size: 14px;
  }


  @media screen and (max-width: 768px){
    .promo-item:nth-child(2){
      display: none;
    }
    .promo-item:nth-child(3){
      display: none;
    }
  }

  header{
    position: relative;
    width: 100%;
    display: grid;
    z-index: 10;
  }

  header:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: url('./assets/images/perforated-bottom.png');
    background-repeat:repeat-x;
    width: 100%;
    height: 5px;
  }

  .header-content{
    display: flex;
    flex-wrap: wrap;
  }

  .logo-actions-container{
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,.3);
  }

  .logo{
    width: 60%;
  }
  
  .logo img{
    width: 80%;
    /* margin-left: -10px; */
  }
  .actions{
    width: 40%;
    display: flex;
  }

  .actions li {
    display: block;
    flex: 1;
    border-left: 1px solid rgba(0,0,0, .2);
  }

  .actions li a{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
  }

  .navigation{
    width: 100%;
  }

  .navigation ul{
    display: flex;
    align-items: center;
    height: 60px;
  }

  .navItem {
    display: block;
    position: relative;
    margin-right: 7px;
  }

  .nav-anchor{
    text-decoration: none;
    display: inline-block;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    position: relative;
  }

  .nav-anchor:after {
    content: '';
    position: absolute;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid rgba(0,0,0, .4);
    transform: rotate(180deg);
    bottom: -3px;
    left: calc((100% - 4px) / 2);
  }
  .search-input-acor{
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    display: flex;
    justify-content: center;
  }

  .desktop{
    display: none; 
  }
  @media screen and (min-width: 768px){
    .desktop{
      display: block;
    }

    .mobile{
      display: none;
    }

    .navigation{
      margin: 0 20px;
    }

    .navigation ul{
      height: 100%;
    }

    .navItem{
      margin-right: 20px;
    }

    .navItem a{
      font-size: 30px;
      font-weight: 200;
    }

    .navItem a:hover{
      color: rgba(0,0,0,.7);
      transform: translateY(-1px);
    }
  
    .logo-actions-container{
      border: 0;
    }

    .logo{
      width: 25%;
    }

    .actions{
      width: 40%;
      padding: 16px 0;
      /* background: red; */
      display: grid;
      grid-template-columns: 40% 60%;
      grid-template-rows: 30% 70%;
      grid-gap: 5px;
    }

    .user-actions{
      grid-column-start: 1;
      grid-column-end: -1;
      display: flex;
      justify-content: flex-end;
    }

    .user-actions a{
      color: #909090;
      margin-left: 12px;
      font-size: 12px;
    }

    .user-actions a:hover{
      color: #1781E0;
    }

    .cart-container{
      grid-row-start: 2;
      grid-row-end: -1;
      border: 0;
    }

    .input-search-container{
      border: 0;
      grid-column-start: 2;
      grid-column-end: -1;
      grid-row-start: 2;
      grid-row-end: -1;
    }

    .search-bar{
      /* position:; */
      display: flex;
      width: 100%;
      align-items: center;
      color: #909090;
      border: 1px solid #D8D8D8;
      background: #FFF;
      border-radius: 2px;
      box-shadow: #F4F4F4 0 0 0 4px;
      padding: 7px 8px;
      font-size: 14px;
    }

    .search{
      border: 0;
      padding: 0 6px;
      width: 91%
    }


    .card-button{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      color: #909090;
      border: 1px solid #D8D8D8;
      // box-shadow: #F4F4F4 0 0 0 4px;
      border-radius: 2px;
      width: 80%;
      height: 30px;
    }

    .card-button:hover{
      color: inherit;
    }

    .card-number{
      font-size: 12px;
      background: #909090;
      color: #fff;
      padding: 3px;
      display: block;
      border-radius: 2px;
      position: relative;
    }

    .card-number:after{
      content: '';
      position: absolute;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid #909090;
      transform: rotate(270deg);
      bottom: 9px;
      left: -4px;
    }
  }

  .hero{
    width: 100%;
    padding-bottom: 30px;
    // height: 300px;
    background: #F4F4F4;
    margin-top: -4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .ties-container{
    display: flex;
    width: 100%;
    max-width: 1100px;
    overflow-x: scroll;
    scrollbar-width: none;
  }

  .ties-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .ties-container {
    -ms-overflow-style: none;
  }

  .tie{
    /* width: 100px; */
    margin-right: 35px;
    margin-bottom: 40px;
  }
  .tie a{
    position: relative;
    display: block;
    width: 70px;
    color: #000;
  }

  .tie a:hover{
    color: #1781E0;
  }

  .tie img{
    width: 100%;
  }
  
  .tie p{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    font-size: 18px;
  }

  @media screen and (min-width: 768px){
    .hero{
      height: 400px;
    }

    .ties-container{
      justify-content: center;
    }

    .tie a:hover img{
      transform: translateY(-7px);
    }
  }


  /* category panel */

.category-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}




.category-item{
  display: block;
  width: 100%;
  position: relative;
  color: #000;
  margin: 15px 0;
  /* margin: 10px; */
}

@media screen and (min-width: 768px){
  .category-container{
    justify-content: space-between;
  }

  .category-item{
    max-width: 300px;
  }
}
.category-item img{
  width: 100%;
}

.category-item h2{
  position: absolute;
  font-size: 20px;
  top: 2%;
  right: 3%;
}


.history{
  display: flex;
  flex-wrap: wrap;
  margin:  20px 0;
}

.history h2{
  text-align: center;
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
  
}

.history a{
  width: 100%;
  text-align: center;
  color: #33A1FF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  margin: 10px 0;
}
@media screen and (min-width: 768px){
  .history h2{
    padding: 0 100px;
    font-size: 40px;
  }

  .history{
    margin:  100px 0;
  }

  .history{
    font-size: 18px;
  }
}

.history a:hover{
  color: #1781E0;
}

.footer-main{
  /* background: red; */
  position: relative;
}

.footer-main:before{
  position: absolute;
  top: -9px;
  content: '';
  background-image: url('./assets/images/hatch-light@2x.png');
  background-repeat:repeat-x;
  background-size: contain;
  width: 100%;
  height: 9px;
}

.footer-main:after{
  position: absolute;
  bottom: -9px;
  content: '';
  background-image: url('./assets/images/perforated-bottom.png');
  background-repeat:repeat-x;
  width: 100%;
  height: 5px;
}

.footer-main-content{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.footer-main-item{
  width: 100%;
  margin: 20px 0;
}

.footer-main-item h3{
  font-size: 18px;
}

.footer-main-item img{
  width: 100%;
}



@media screen and (min-width: 768px){
  .footer-main-content{
    justify-content: space-between;
  }
  .footer-main-item{
    max-width: 230px;
  }
}

.facebook{
  display: inline-block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background: url('./assets/images/sprites.png') -318px 2px no-repeat;
  background-size: 400px 200px;
  /* border: 1px solid red; */
}
.pinterest{
  display: inline-block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background: url('./assets/images/sprites.png') -318px -39px no-repeat;
  background-size: 400px 200px;
  /* border: 1px solid red; */
}
.twitter{
  display: inline-block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background: url('./assets/images/sprites.png') -318px -79px no-repeat;
  background-size: 400px 200px;
  /* border: 1px solid red; */
}



.email-form{
  width: 100%;
  margin: 15px 0;
}

.email-form input{
  width: 80%;
  margin-bottom: 8px;
  border: 1px solid #D8D8D8;
  background: #FFF;
  border-radius: 2px;
  box-shadow: #F4F4F4 0 0 0 4px;
  padding: 7px 8px;
  font-size: 14px;
}


.button{
  font-size: 14px;
  padding: 5px 10px;
  background: #33A1FF;
  border: 1px solid rgba(0,0,0,0.15);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover{
  background: #1781E0;
}

.style-guide{
  display: flex;
  flex-wrap: wrap;
}

.style-guide h3{
  width: 100%;
  border-radius: 5px;
}

.style-guide img{
  width: 50%;
  // height: 120px;
  object-fit: cover;
  border-radius: 5px;
}

.style-guide p{
  width: 50%;
  padding: 0 8px;
}

@media screen and (min-width: 1024px){
  .style-guide img{
    width: 100%;
  }

  .style-guide p{
    width: 100%;
    padding: 0 8px;
  }
}

.footer-sub{
  margin-top: 5px;
  background: #F4F4F4;
  padding: 30px 0;
}

.footer-sub-content{
  display: flex;
  flex-wrap: wrap;
}


.footer-list-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 5px 0;
}

.footer-list-item li{
  display: block;
  margin: 0 5px;
  height: 19px;
}

.footer-list-item li a{
  color: #909090;
  display: block;
}

.footer-list-item li p{
  font-weight: bold;
}

.footer-list-item li a:hover{
  color: #1781E0;
}

.footer-list-item li:first-child{
  width: 100%;
}

@media screen and (min-width: 768px){
  .footer-list-item{
    max-width: 150px;
    display: block;
  }
}

.contact-card{
  padding: 10px;
  width: 300px;
  /* height: 130px; */
  background: #A2AEBF;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  /* align-items: space-between; */
}

.email-phone{
  width: 100%;
}

.contact-card *{
  color: #fff;
  width: 100%;
  font-weight: 200;
  margin: 4px 0;
}

.contact-card h2{
  font-size: 25px;
  font-style: italic;
}

.contact-card .button-mobile{
  width: 50%;
  font-size: 18px;
}

.contact-card .button-desktop{
  width: 50%;
  font-size: 18px;
  display: none;
}

@media screen and (min-width: 768px){
  .contact-card{
    margin: 0;
    margin-left: auto;
  }
  .email-phone{
    width: 50%;
  }

  .contact-card .button-mobile{
    display: none;
  }

  .contact-card .button-desktop{
    display: block;
  }

  .contact-card p{
    width: 50%;
    margin: 0;
  }
}

.copyright{
  margin-top: 30px;
  color: #909090;
  font-size: 12px;
}

.copyright a{
  color: #909090;
}

.copyright a:hover{
  color: #1781E0;
}

.next{
  width: 50px;
  height: 55px;
  background: rgba(0,0,0,.1);
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  position: relative;
}

.back{
  width: 50px;
  height: 55px;
  background: rgba(0,0,0,.1);
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  position: relative;
}

.next:after{
  content: '';
  position: absolute;
  top: 50%;
  width: 16px;
  height: 27px;
  margin-top: -13px;
  background: url('./assets/images/sprites.png') -231px -29px no-repeat;
  background-size: 400px 200px;
  cursor: pointer;
}

.back:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 10px;
  width: 16px;
  height: 27px;
  margin-top: -13px;
  background: url('./assets/images/sprites.png') -231px 0px no-repeat;
  background-size: 400px 200px;
  cursor: pointer;
}

.next:hover{
  background: #33A1FF;
  transform: scaleX(1.2)
}

.back:hover{
  background: #33A1FF;
  transform: scaleX(1.2)
}

.scroll-ties-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}


.scroll-ties-container h2{
  font-size: 25px;
  font-weight: 300;
}

@media screen and (min-width: 768px){
  .scroll-ties-container{
    justify-content: center;
  }
  .scroll-ties-container h2{
    font-size: 60px;
    font-weight: 300;
  }

  .back,.next{
    display: none;
  }
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navigation li:hover .dropdown-content {
  display: block;
}


@media screen and (min-width: 768px) and (max-width: 1023px){
  .category-item{
    max-width: 230px;
  }

  .history{
    margin: 50px 0;
  }

  .footer-main-item{
    max-width: 50%;
    padding: 30px;
  }


  .history h2 {
    font-size: 25px;
  }

  .footer-sub-content{
    justify-content: space-between;
  }
  .footer-list-item{
    max-width: 160px;
  }

  .contact-card{
    margin-left: 0;
    margin-top: 20px; 
  }

  .scroll-ties-container{
    justify-content: space-between;
  }

  .back,.next{
    display: block;
  }

  .logo-actions-container{
    display: grid;
    grid-template-columns: 40% auto 30%;
    grid-template-rows: 50% 50%;
    height: 160px;
  }

  .logo-actions-container{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .logo{
    width: 100%;
  }

  .navigation{
    grid-column: 1/-1;
    grid-row: 2 / -1;
    border-top: 1px solid rgba(0,0,0,.2);
    margin: 0;
  }

  .actions{
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    width: 100%;
    padding: 16px 0 0 0;
    /* background: red; */
    display: grid;
    grid-gap: 0;
  }

  .logo-stack{
    display: none;
  }

  .logo-inline{
    display: block;
  }
}


.input{
  width: 80%;
  // margin-bottom: 8px;
  border: 1px solid #D8D8D8;
  background: #FFF;
  border-radius: 2px;
  box-shadow: #F4F4F4 0 0 0 4px;
  padding: 7px 8px;
  font-size: 14px;
  padding: 15px;
}